/* Estilo para el cuerpo del formulario */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
}

/* Estilo para el encabezado (h1) */
h1 {
  text-align: center;
  color: #333; /* Cambia el color del encabezado según tus preferencias */
  margin-top: 20px;
}

/* Estilo para el formulario */
form {
  background-color: #fff; /* Fondo blanco */
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del formulario */
}

/* Estilo para las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para el botón de envío */
input[type="submit"] {
  background-color: #007bff; /* Cambia el color del botón según tus preferencias */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para el botón de envío cuando se pasa el cursor sobre él */
input[type="submit"]:hover {
  background-color: #0056b3; /* Cambia el color al pasar el cursor sobre el botón */
}

/* Estilo para el fondo del formulario */
body {
  background-image: url('ruta/a/tu/imagen.jpg'); /* Cambia la ruta a tu imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Estilo para los campos de entrada más pequeños */
input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 5px; /* Reducir el espacio interior */
    margin-bottom: 2px; /* Reducir el espacio inferior */
    border: 1px solid #ccc;
    border-radius: 7px;
}
